*{margin:0;padding:0;}
li{list-style:none;}
img{border:none; vertical-align:middle;}
a{text-decoration:none;color:#b0b0b0;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
em,i,b{font-style:normal;}
body{font:12px "微软雅黑";color:#b7b0b0;}
.left{float:left;}
.right{float:right;}
.clearBoth{clear:both;height:0;overflow:hidden;}


.main_9{
	width: 1226px;
	height: 400px;
	margin: 0 auto;
}
.main_10{
	margin-top: 50px;
	width: 200px;
	height: 200px;
	position: relative;
	border: 2px solid #ccc;
	float: left;
}
.main_10>img{
	display: block;
	width: 200px;
	height : 200px;
}
.main_10>.mask{
	width: 100px;
	height: 100px;
	background: #FF0000;
	opacity: .3;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	cursor: move;
}
.main_25{
	float: left;
	margin: 50px 0 0 50px;
	width: 350px;
	height: 350px;
	border: 2px solid #ccc;
	overflow: hidden;
	position: relative;
	display: none;
}
.main_25>img{
	width: 700px;
	height: 700px;
	position: absolute;
	top: 0;left: 0;
}
.main_11{
	margin-top: 50px;
	float: right;
	width: 500px;
	height: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.main_11 h3{
	height: 50px;
	width: 500px;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	color: #111;
}
.main_11 p{
	height: 50px;
	width: 500px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
}
.main_11 span{
	margin: 10px 0;
	display: block;
	width: 150px;
	height: 25px;
	color:#FF0000;
	font-size: 20px;
	text-align: center;
	line-height: 25px;
}
.main_11 del{
	margin: 10px 0;
	display: block;
	width: 100px;
	height: 25px;
	color:#333;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
}
.main_11 button{
	display: block;
	border: none;
	width: 250px;
	height: 50px;
	background: #ff6f0f;
	border-radius: 5px;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}